* {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

.container {
    width: 100%;
}

#nav {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: #fdfdfd;
    overflow: hidden;
}

#nav li {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#nav li a {
    display: block;
    color:  #A0E6FF;
    text-decoration: none;
    padding: 20px 20px;
}

#nav li a:hover {
    height: 100%;
    border: 2px solid  #A0E6FF;
    box-shadow: 2.5px 5px;
    color:  #A0E6FF;
}

#nav img {
    position: relative;
    margin-top: 10px;
    height: 65px;
    width: 125px;
    top: 20px;
}

/* Section */

/* #break-1 {
    margin-top: 45px;
    width: 49%;
    float:left
} */
section {
    background-color: #bfefff;
    opacity: .8;
}
#about p {
    margin-top: 145px;
    width: 50%;
    float: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #break-2 {
    margin-top: 140px;
    width: 49%;
    float:left;
} */
#rest-pic {
    width: 50%;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 75px;
}

#menu {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color:#fdfdfd
} 

#menu h1 {
    text-align: center;
    padding-top: 20px;
}

.breakfast, .lunch, .dinner{
    text-align: center;
    line-height: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #58a7c4;
}

.items li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-top: -175px;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}


