* {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

.container {
    width: 100%;
}

#nav {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: hsl(110, 36%, 46%);
    overflow: hidden;
}

#nav li {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 20px;
}

#nav li a:hover {
    height: 100%;
    background-color: hsl(143, 36%, 42%);
    color: #f4f4f4;
}

#nav img {
    position: relative;
    margin-top: 10px;
    height: 65px;
    width: 125px;
    top: 20px;
}